logger:
  level: info # panic, fatal, error, warn, info, debug, trace
  disable-timestamp: true
  disable-color: false

# Authentication: 
Choose one of your authentication configuration according to your DNS provider system
- username + password
- token

# Predefined URLs (URL is optional in this case): `ovh`, `google`, `duckdns`

watchers:
  - name: ovh
  # ! DO NOT REMOVE SUBDOMAIN AND IP. THEY'RE USED AS PLACEHOLDER
    url: http://www.ovh.com/nic/update?system=dyndns&hostname=SUBDOMAIN&myip=NEWIP
    config: 
      - username: some_username
        password: some_password
        subdomains:
          - some.subdomain.com
      - username: some_username
        password: some_password
        subdomains:
          - another.subdomain.com

  - name: google
  # ! DO NOT REMOVE SUBDOMAIN AND IP. THEY'RE USED AS PLACEHOLDER
    url: https://domains.google.com/nic/update?hostname=SUBDOMAIN&myip=NEWIP
    config: 
      - username: some_username
        password: some_password
        subdomains:
          - some.subdomain.com
      - username: some_username
        password: some_password
        subdomains:
          - another.subdomain.com
  - name: duckdns
    # * url: https://www.duckdns.org/update?domains=SUBDOMAIN&token=TOKEN&ip=NEWIP
    url: https://duckdns.org/update/SUBDOMAIN/TOKEN/NEWIP
    config: 
      - token: some_token
        subdomains:
          - some.subdomain.com

update-time: 100 # in seconds

web-ip: http://dynamicdns.park-your-domain.com/getip # default http://dynamicdns.park-your-domain.com/getip

