logger:
  level: info # panic, fatal, error, warn, info, debug, trace
  disable-timestamp: true
  disable-color: false

# If you want to add your DDNS provider, make sure to put the URL with the correct placeholders (e.g below)
# And they're using a standard HTTP response (body with good/nochg for OK and error, ... for errors)
# Also for now, only `basic auth` is supported.

# Predefined URLs (URL is optional in this case): `OVH`, `GOOGLE`
# Tested with: `OVH`, `GOOGLE`

watchers:
  - name: ovh
  # ! DO NOT REMOVE SUBDOMAIN AND IP. THEY'RE USED AS PLACEHOLDER
    url: http://www.ovh.com/nic/update?system=dyndns&hostname=SUBDOMAIN&myip=NEWIP
    config: 
      - username: some_username
        password: some_password
        subdomains:
          - some.subdomain.com
      - username: some_username
        password: some_password
        subdomains:
          - another.subdomain.com

  - name: google
  # ! DO NOT REMOVE SUBDOMAIN AND IP. THEY'RE USED AS PLACEHOLDER
    url: https://domains.google.com/nic/update?hostname=SUBDOMAIN&myip=NEWIP
    config: 
      - username: some_username
        password: some_password
        subdomains:
          - some.subdomain.com
      - username: some_username
        password: some_password
        subdomains:
          - another.subdomain.com

update-time: 100 # in seconds
pending-dns-propagation: 120 # in seconds

web-ip: http://dynamicdns.park-your-domain.com/getip # default http://dynamicdns.park-your-domain.com/getip

